LOG_API_URL=http://4.224.186.213/evaluation-service/logs
NOTIFICATION_API_URL=http://4.224.186.213/evaluation-service/notifications
AUTH_API_URL=http://4.224.186.213/evaluation-service/auth
AUTH_EMAIL=your_email
AUTH_NAME=your_name
AUTH_ROLL_NO=your_roll_no
AUTH_ACCESS_CODE=your_access_code
AUTH_CLIENT_ID=your_client_id
AUTH_CLIENT_SECRET=your_client_secret
LOG_ACCESS_TOKEN=replace_with_log_token
NOTIFICATION_API_TOKEN=replace_with_notification_api_token
