VITE_API_BASE_URL=http://localhost:5000/api
VITE_NOTIFICATION_API_TOKEN=replace_with_notification_api_token
VITE_LOG_API_URL=http://4.224.186.213/evaluation-service/logs
VITE_LOG_ACCESS_TOKEN=replace_with_log_token
